// Here you can add other styles
.my-custom-scrollbar {
position: relative;
height: 240px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
.custom-main-header {
  width: 100%;
  height: 131px;
  background-color: #a08f7d;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.custom-main-header > div:last-child {
  margin-right: 24px;
}
.custom-main-header > div:last-child div {
  font-family: 'Lato';
  font-size: 22px;
  font-weight: 600;
  color: #534232;
  margin-bottom: 0;
}
@media screen and (max-width: 640px) {
  .custom-main-header > div:last-child {
    margin-right: 0;
  }
  .custom-main-header > div:last-child div {
    font-size: 15px;
  }
  .custom-main-header {
    height: 111px;
  }
  .custom-main-header img {
    height: 60px;
  }
}
